<a [routerLink]="['/home']">
  Home
</a>

<h1>
  Test
</h1>

<p>
  Refresh the page to test getting data from the server.
</p>

<p>
  {{loading ? 'Loading...' : 'Complete!'}}
</p>

<p>
  Page Loaded By {{serverResponded ? 'Server' : 'Browser'}}
</p>

<h1>
  Conclusion
</h1>

<p>
  When using Angular Universal,
  the components will be initialized twice by server and browser.
  And the server calls Angular LifeCycle hooks from `ngOnInit()` to `ngOnDestroy()`.
</p>

<p>
  To prevent it,
  Using `ServerTransferStateModule` and `BrowserTransferStateModule`.
  It's similar with `LocalStorage` but can share the data between server and browser platforms.
</p>
